ul {
    list-style-type: none;
}
li {
    margin-bottom: 15px;
}
#list a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}
#list h4 {
    margin: 0;
}
#list img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.wrapper {
    display: flex;
}

.detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.detail img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.detail h3 {
    
}

textarea {
    margin-bottom: 15px;
}

/*Zoom jpeg start*/
/* td {
	position: relative;
}
.clone {
	position: absolute;
	top: 0;
	left: 0;
}
.clone > img {
	width: 100%;
	height: 100%;
} */
/*Zoom jpeg end*/